<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>

        <listener class-name="testNG_Listener.ListenerTest"></listener>

    </listeners>


    <test name=" My TestNG Suite">
        <classes>
            <class name="com.codewithciaran.Test_Case1">
                <methods>
                    <include name="Banking365_Login"/>
                    <include name="clickLoginButton"/>
                    <include name="enterUserID"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>